
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users</title>
</head>
<body>
    <div> 
        Welcome to query string.

        <ul>
            <b>Your info:</b>
            <li>@ViewBag.msg</li>
        </ul>
    </div>
</body>
</html>
